html {
  scroll-behavior: smooth;
}
body {
  background: url('../img/bg.png') top / cover repeat-y;
}
.navbar-brand {
  font-family: Poppins;
  font-size: 37px;
  font-weight: 300;
  line-height: 0.8;
  letter-spacing: -2.82px;
  text-align: center;
  color: #525ffb !important;
}

.main-title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.39;
  text-align: left;
  color: #1e1c24;
}

.main-subtitle {
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #b1aaaa;
}

.input-taskia-primary {
  border-radius: 100px;
  border: solid 2px #ebebeb;
  padding: 26px 12px;
}

.input-taskia-primary::placeholder {
  opacity: 0.36;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  color: #1e1c24d9;
}

.card.taskia-card {
  border-radius: 11px;
  border: none;
  padding: 48px 28px 26px;
}

.card.taskia-card.light {
  color: #fff;
}

.card.taskia-card.light.bg-blue {
  background-color: #525ffb;
}

.card.taskia-card .title {
  font-family: Poppins;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.33;
  text-align: center;
}

.card.taskia-card .description {
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
}

.section-title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #1e1c24;
}

.card.taskia-card.dark {
  color: #1e1c24;
}

.card.taskia-card.dark.bg-grey {
  background-color: #e9f0ff;
}

.card.taskia-card.dark.bg-yellow {
  background-color: #ffe7aa;
}

.section-description {
  font-family: Muli;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.67;
  color: #b1aaaa;
}

.icon-play-store {
  margin-left: 36px;
}

.likes-counter {
  font-family: Poppins;
  font-size: 76px;
  font-weight: 400;
  color: #525ffb;
}

.image-circle {
  position: relative;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.image-circle.big {
  width: 92px;
  height: 92px;
}

.image-circle.med {
  width: 64px;
  height: 64px;
}


.image-circle.small {
  width: 36px;
  height: 36px;
}

.image-circle.client-6 {
  bottom: -129px;
}

.image-circle.client-1 {
  top: -124px;
  left: -24px;
}

.image-circle.client-2 {
  right: -83px;
}

.image-circle.client-3 {
  bottom: -132px;
  left: -82px;
}

.image-circle.client-4 {
  top: -120px;
  right: -137px;
}

.image-circle.client-5 {
  left: -62px;
  top: -12px;
}

footer {
  border-top: solid 1px #e6e6e6;
  background-color: #ffffff;
}

.footer-description {
  font-family: Muli;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  color: #1e1c24;
}

.btn-taskia-secondary {
  border: solid 2px #525ffb;
  border-radius: 100px;
  padding: 10px 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: #525ffb;
  transition: ease-in-out .4s ;
}

.btn.btn-taskia-primary {
  border-radius: 100px;
  background-color: #525ffb;
  padding: 14px 36px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 200;
  transition: ease-in-out .4s;
}
.btn-taskia-primary:hover {
  background-color: #fff;
  color: #525ffb;
  border: solid 2px #525ffb;
  padding: 13px 35px;
  transition: ease-in-out .4s !important;
}
.btn-taskia-secondary:hover {
  background-color:  #525ffb;
  color: #fff;
}

@media (min-width: 992px) {
  .input-taskia-primary {
    max-width: 276px;
  }
  .taskia-card-holder{
    transition: .4s;
  }
  .taskia-card-holder:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1200px) {
  .input-taskia-primary {
    max-width: 354px;
  }
}

@media (min-width: 576px) {
  .main-title {
    font-size: 54px;
  }
}